<div id="homeCarousel" class="carousel well">
  <div class="carousel-inner">
    <% if @products.any? %>
    <% @products.limit(4).each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
    <div class="<%=@products.first == product ? "item active" : "item" %>">
      <%#= large_image(product, :itemprop => "image")  %>
      <%= link_to large_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
      <div class="carousel-caption">
        <h4><%= product.name %></h4>
        <p><%= product.description[0..200] + "..." %></p>
      </div>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
  <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row-fluid span12">
    <div data-hook="homepage_sidebar_navigation" class="span2">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
  <div data-hook="homepage_products" class="span10">
    <%= render :partial => 'spree/shared/products', :locals => {:products => @products} %>
  </div>
</div>

